.modal {
  .modal-wait {
    text-align: center;
    padding: 5em;

    i.fa {
      font-size: 5em;
    }
  }

  .modal-wait-3 {
    text-align: center;
    padding: 3em;

    i.fa {
      font-size: 3em;
    }
  }

  .modal-body {
    padding: 2em;
  }

  .modal-title {
    font-size: 16px;
  }

  .modal-lg {
    @media (min-width: $screen-lg-min) {
      width: 80%;
    }
  }

  .modal-normal {
    width: $modal-nl;
  }
}
