.lobibox.lobibox-progress .lobibox-header {
  background-color: #494e50;
}

.lobibox.lobibox-confirm .lobibox-header {
  color: #eeeeee;
  background-color: #494e50;
}

.lobibox.lobibox-confirm .lobibox-body .lobibox-icon {
  color: #3c3939;
}

.lobibox.lobibox-confirm .lobibox-footer {
  background-color: #494e50;
}